COMP336/recipebook2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="hyperlink">
		<xs:complexType mixed="true">
			<xs:attribute name="url" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="description">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="course">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sweet"/>
				<xs:element ref="spicy"/>
				<xs:element ref="bland"/>
				<xs:element ref="sour"/>
				<xs:element ref="rich"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sweet">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="spicy">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="bland">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sour">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="rich">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="preptime">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="source">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="hyperlink"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingredients">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="substiution"/>
				<xs:element ref="non_substituion"/>
				<xs:element ref="quantity"/>
				<xs:element ref="unit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fooditem">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="substitution">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="non_substitution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PCDATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quantity">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="unit">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="budget">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="equipment">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="hyperlink"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="step">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="equipment"/>
				<xs:element ref="hyperlink"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="recipeinfo">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="author"/>
				<xs:element ref="description"/>
				<xs:element ref="course"/>
				<xs:element ref="type"/>
				<xs:element ref="preptime"/>
				<xs:element ref="source"/>
				<xs:element ref="serving"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingredientlist">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ingredient"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="preparation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="equipment"/>
				<xs:element ref="step"/>
				<xs:element ref="hyperlink"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="notes">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="hyperlink"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="recipe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="recipeinfo" minOccurs="0"/>
				<xs:element ref="ingredientlist"/>
				<xs:element ref="preparation"/>
				<xs:element ref="serving" minOccurs="0"/>
				<xs:element ref="notes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="recipe" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cookbook">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="section"/>
					<xs:element ref="recipe"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PCDATA"/>
	<xs:element name="substiution"/>
	<xs:element name="non_substituion"/>
	<xs:element name="ingredient"/>
	<xs:element name="serving"/>
</xs:schema>
